<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JRNE4LBQ80"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-JRNE4LBQ80');
</script>

* {
    background-color: #E8F9E1;
    font-family: Heiti SC;
    padding: 0px 24px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 32px 120px;

    /* flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;  */
}

.tabs {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
}

/* .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
}



.service_header {
    width: 436px;
    height: 114px;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
}

.service_content {
    width: 934.28px;
    height: 91px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;
} */